<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Vertical navbar, to be inserted into other HTML pages -->
<nav th:fragment="navcolumn" class="navbar bg-white mt-2">
    <ul class="nav navbar-nav text-center ms-auto me-auto w-100">
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Main Page}">Main Page</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Core Mechanics}">Core Mechanics</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Stats}">Stats</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Character Creation}">Character Creation</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Exploration}">Exploration</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Combat}">Combat</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Magic}">Magic</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Situational Rules}">Situational Rules</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" th:href="@{/rulebook/Tables}">Tables</a>
        </li>
        <li class="nav-item mt-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2 rounded text-center bg-light w-50 m-auto" type="search" placeholder="...">
                <button class="btn-outline" type="submit">Search</button>
            </form>
        </li>
    </ul>
</nav>

<!-- Horizontal navbar for navigating between different sections of the app -->
<nav th:fragment="navrow" class="navbar bg-white">
    <ul class="nav text-center ms-auto me-auto">
        <!-- TODO: Put some href links here -->
        <li class="nav-item border-right">
            <a class="nav-link">Rules</a>
        </li>
        <li class="nav-item border-right">
            <a class="nav-link">Sheets</a>
        </li>
        <li class="nav-item border-right">
            <a class="nav-link">Links</a>
        </li>
        <li class="nav-item border-right">
            <a class="nav-link">Profile</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link">About Us</a>
        </li>
    </ul>
</nav>

</body>
</html>