<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Vertical navbar, to be inserted into other HTML pages -->
<nav th:fragment="navcolumn" class="navbar bg-white mt-2 position-sticky">
    <ul class="nav navbar-nav text-center ms-auto me-auto w-100">
        <li id="navbarLink" class="nav-item border-bottom">
            <a class="nav-link" href="/mainpage">Main Page</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/coremechanics">Core Mechanics</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/stats">Stats</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/charactercreation">Character Creation</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/exploration">Exploration</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/combat">Combat</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/magic">Magic</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/situationalrules">Situational Rules</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="/tables">Tables</a>
        </li>
        <li class="nav-item mt-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2 rounded text-center bg-light w-50 m-auto" type="search" placeholder="Search">
                <button class="btn-outline" type="submit">Search</button>
            </form>
        </li>
    </ul>
</nav>

</body>
</html>