<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet</title>

    <!-- Including the bootstrap css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Including custom stylesheet -->
    <link rel="stylesheet" th:href="@{css/charactersheet1.css}">
</head>
<body>
    <!-- Header with explanation, splashcard and credits -->
    <header th:insert="elements/HeaderFooter :: header"></header>

    <div class="row">
        <!-- Horizontal menu for navigating different app functions -->
        <div class="col-12 row">
            <div class="col-2"></div> <!-- Used for spacing out the below navbar correctly -->
            <div th:insert="elements/Navbars :: navrow"></div>
        </div>

        <!-- Vertical menu for navigating different SRD pages -->
        <div class="col-2"></div>

        <!-- Container to color the contents correctly -->
        <div id="innerContents" class="border ms-2 mt-2 col-9 row">

            <!-- TODO: Have this pull information from the currently logged-in user -->
            <div th:if="${currentProfile.getCharacterSheetList() == null || currentProfile.getCharacterSheetList().isEmpty()}">
                <div class="h4 text-secondary">You don't have any character sheets!</div>
            </div>
            <div th:if="${currentProfile != null}">
                <div th:if="${currentProfile.getCharacterSheetList() != null && !currentProfile.getCharacterSheetList().isEmpty()}">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Your Character Sheets</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="charSheet : ${currentProfile.getCharacterSheetList()}">
                            <td><a th:text="${charSheet.sheetName}" target="_blank" th:href="@{charsheet/{path}/consolidated(path=${charSheet.getSheetId()})}" class="nav-link" style="margin-left: 5px; margin-right: 5px">Link Placeholder</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12"></div>
            <div>
                <form th:action="@{/charsheet/addnewcharactersheet}" method="POST">
                    <div th:if="${param.nosheetname}" class="alert alert-error">
                        Sheet name is required!
                    </div>
                    <div th:if="${param.success}" class="alert alert-success">
                        Sheet created!
                    </div>
                    <fieldset>
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope = "col" colspan="3">Create new sheet</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><label for="username">Sheet Name</label></th>
                                <td><input type="text" id="username" th:name="newSheetName"/></td>
                                <td class="form-actions"><button type="submit" class="btn border">Create</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>


<!--            <div>-->
<!--                <form th:action="@{/addnewcharactersheet}" target="_blank" method="POST">-->
<!--                    <fieldset>-->
<!--                        <div class="h5 text-secondary">Create a new character sheet:</div>-->
<!--                        <label for="sheetName">Sheet Name: </label>-->
<!--                        <input type="text" id="sheetName" name="sheetName"/>-->
<!--                        <div class="form-actions">-->
<!--                            <button type="submit" class="btn border">Create</button>-->
<!--                        </div>-->
<!--                    </fieldset>-->
<!--                </form>-->
<!--            </div>-->

        </div>
    </div>

    <!-- Footer with sheet version and link to the rulebook -->
    <footer th:insert="elements/HeaderFooter :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>